.content {
  width: 100%;
  height: 100%;
  margin: 200px 550px;
  position: center;
}

.content .details {
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1.2;
  font-weight: bold;
  font-family: Shackleton Condensed;
  font-style: italic;
  font-size: 1.3em;
}

.userbar {
  width: 182px;
  height: 23px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #000;
  background-color: #b0aac2;
  margin-left: 10px;
  margin-right: 5px;
}

.userbar:hover {
  background-color: #fff;
}

.content button {
  width: 82px;
  height: 30px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  color: blue;
  font-weight: bold;
}

.content button:hover {
  color: red;
  background: #fff;
  font-weight: bold;
}
