.container {
  width: 100%;
  height: 100%;
  margin: 50px 300px;
}

table {
  text-align: center;
}

tr:nth-child(even) {
  background-color: lightgrey;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  font-weight: bold;
  background-color: lightgreen;
  color: #000;
}

td {
  padding: 10px 10px;
  color: #800080;
}
